<footer>
  <div class="container">
    <section class="top">
      <div class="time">
        <div class="left">
          <h1>고객센터</h1>
          <p>031-273-7714</p>
          <p>031-273-7715</p>
        </div>
        <div class="right">
          <div>평일 AM 09:00 ~ PM 18:00</div>
          <div>점심 PM 12:30 ~ PM 13:30</div>
          <div>토·일·공휴일 휴무</div>
          <a href="#">별도견적 문의</a>
        </div>
      </div>
      <img src="/assets/footer/data.jpg">
      <a href="#"><img src="/assets/footer/webhard.jpg"></a>
    </section>
    <section class="bottom">
      <h3><span>주문전</span> 확인해주세요!</h3>
      <p>
        디원탑 이용 및 주문 방법, 그래픽 작업시 유의사항 등
        <br>
        자세한 내용을 확인하세요.
      </p>
      <a href="#">이용방법 확인하기</a>
    </section>
  </div>
  <section>
    <div class="top">
      <div class="info">
        <img src="/assets/footer/logo.png">
        <div class="container">
          <span>경기 수원시 영통구 덕영대로1556번길 16, 1층 174호 디원탑</span>
          <span>상호 : 디원탑</span>
          <span>사업자등록번호 : 392-41-00936</span><br>
          <span>통신판매업신고번호 : 제2022-수원영통-0932호</span>
          <span>대표자 : 문학준</span>
          <span>전화 : 031-273-7714</span>
          <span>팩스 : 031-273-7716</span>
        </div>
      </div>
      <div class="bank">
        <h2>입금계좌번호</h2>
        <span><img src="/assets/footer/NH.png">302-1712-1734-21</span>
        <span><img src="/assets/footer/SHINHAN.jpg">1104-8410-5075</span>
        <p>예금주 : 디원탑 (문학준)</p>
      </div>
      <div class="cs">
        <h2>업무시간</h2>
        <p>평일 AM 09:00 - PM 18:00</p>
        <p>점심 AM 12:30 - PM 13:30</p>
        <p>토·일·공휴일 휴무</p>
        <span>- 작업은 입금 확인 후 진행됩니다.</span>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <ul>
          <li><a href="#">회사소개</a></li>
          <li><a href="#">서비스이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
        </ul>
        <p>Copyright © 2002 디원탑. All Rights Reserved.</p>
      </div>
    </div>
  </section>
</footer>
