<div class="contents">
  <button *ngIf="!user" [routerLink]="routeName.LOGIN">
    <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon>
  </button>
  <div *ngIf="user">
    <button (click)="toggleSection()">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </button>
    <section class="left" #left_section (click)="toggleSection()"></section>
    <section class="right" #right_section>
      <div class="wrapper">
        <div class="name">{{ user.name }}님</div>
        <div (click)="logout()">
          <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon>
          로그아웃
        </div>
        <div>
          <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
          장바구니
        </div>
        <div onclick="window.open('https://www.ilogen.com/', '_blank');">
          <fa-icon [icon]="['fas', 'truck']"></fa-icon>
          택배조회
        </div>
      </div>
    </section>
  </div>
</div>
