<div class="contents">
  <button (click)="toggleSection()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <section class="left" #left_section>
    <div class="wrapper">
      <div class="menu">
        <div class="active" (click)="toggleMenu(true)" #category_button>카테고리</div>
        <div (click)="toggleMenu(false)" #board_button>게시판</div>
      </div>
      <ul class="category active" #category>
        <li class="group" *ngFor="let category of categories; let i = index">
          <div class="row" (click)="toggleSubGroup(i)">
            <div>{{ category.name }}</div>
            <button class="active" #sub_group_active_buttons>
              <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
            </button>
            <button #sub_group_disable_buttons>
              <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
          </div>
          <ul #sub_groups>
            <li class="sub_group" *ngFor="let item of category.items">
              <div class="row">
                <button><fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>
                <div>{{ item.name }}</div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="board" #board>
        <li class="group">
          <div class="row">
            <div>FAQ</div>
          </div>
        </li>
        <li class="group">
          <div class="row">
            <div>주문하기</div>
          </div>
        </li>
        <li class="group">
          <div class="row">
            <div>시안확인</div>
          </div>
        </li>
        <li class="group">
          <div class="row">
            <div>이미지사이트</div>
          </div>
        </li>
        <li class="group">
          <div class="row">
            <div>고객게시판</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="right" #right_section (click)="toggleSection()"></section>
</div>
