<div class="main_slider desktop">
  <ul class="main_desktop_slider">
    <img [src]="image_url" alt="이미지가 없습니다." *ngFor="let image_url of main_desktop_slider_image_urls">
  </ul>
</div>
<div class="main_slider mobile">
  <ul class="main_mobile_slider">
    <img [src]="image_url" alt="이미지가 없습니다." *ngFor="let image_url of main_mobile_slider_image_urls">
  </ul>
</div>
<div class="hyeonsumak">
  <h2>현수막</h2>
  <div class="wrapper">
    <ul class="banner_slider">
      <ul class="group" *ngFor="let group of hyeonsumak_fileGroups">
        <img [src]="'api/file/' + file.id" (load)="loadComplete()" alt="이미지가 없습니다." *ngFor="let file of group.files">
      </ul>
    </ul>
  </div>
</div>
<div class="banner">
  <h2>배너</h2>
  <div class="images">
    <img [src]="'api/file/' + file.id" alt="이미지가 없습니다." *ngFor="let file of banner_files">
  </div>
</div>
<div class="jeondanji">
  <h2>전단지</h2>
  <div class="images">
    <img [src]="'api/file/' + file.id" alt="이미지가 없습니다." *ngFor="let file of jeondanji_files">
  </div>
</div>
