@import "src/mixin";

@include mobile;
@include desktop;

div.main_slider {
  width: 100%;
  height: fit-content;

  ul.main_desktop_slider > img {
    height: 550px;
  }

  ul.main_mobile_slider > img {
    height: 250px;
  }
}

img:hover {
  cursor: pointer;
}

div.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;

  > div.file {
    max-width: 80%;
    margin: 10px;

    > img {
      border: 1px solid #e5e5e5;
    }

    > div.file_name {
      text-align: center;
      font-size: 14px;
      color: #222;
      font-weight: 500;
      padding: 5px 0;
    }

  }
}

div.hyeonsumak {
  margin: 80px 0;

  > h2 {
    font-size: 30px;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  div.wrapper {
    width: 80%;
    height: fit-content;
    margin: 0 auto;

    ul.group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      div.file {
        margin: 10px;
      }

      img {
        height: 150px;
      }

      div.file_name {
        text-align: center;
        font-size: 14px;
        color: #222;
        font-weight: 500;
        padding: 5px 0;
        margin-top: 5px;
        background: #f2f5f9;
      }
    }
  }
}

div.banner {
  padding: 80px 0;
  margin-bottom: 80px;
  background: #f8f7ed;

  > h2 {
    font-size: 30px;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
}

div.jeondanji {
  margin-bottom: 80px;

  > h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.5px;
    color: #222;
    margin-bottom: 20px;
  }
}
