<div class="modal" *ngIf="property.show">
  <div class="box">
    <div class="top">
      <h1><div>고객님 시안입니다</div></h1>
      <div>
        <div>
          <span>주문시 입력하신</span>
          <br>
          비밀번호를 입력해주세요.
        </div>
      </div>
    </div>
    <div class="bottom">
      <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)" novalidate>
        <input type="password" name="password" maxlength="20" placeholder="비밀번호" autocomplete="off" ngModel required #password="ngModel">
        <button [disabled]="passwordForm.invalid">확인</button>
      </form>
    </div>
  </div>
</div>
