@import "src/mixin";

@include mobile;
@include desktop;

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: none;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  z-index: 90;
  background: #333;

  > fa-icon {
    font-size: 1.3em;
  }
}
