/* You can add global styles to this file, and also import other style files */
@import "./fonts";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 13px;
  font-family: 'Noto Sans KR','Malgun Gothic', dotum, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Noto Sans KR','Malgun Gothic', dotum, sans-serif;
}

input {
  font-size: 1em;
  transition: all 0.30s ease-in-out;
  outline: none;
  font-family: 'Noto Sans KR','Malgun Gothic', dotum, sans-serif;

  &:focus {
    box-shadow: 0 0 5px #9ed4ff;
    border: 1px solid #558ab7 !important;
  }
}
