<div class="desktop">
  <header class="header">
    <div class="logo">
      <img src="/assets/header/logo.png">
    </div>
    <div class="buttons">
      <ul>
        <li><a href=""><img src="/assets/header/login.png">로그인</a></li>
        <li><a href=""><img src="/assets/header/member.png">회원가입</a></li>
        <li><a href=""><img src="/assets/header/myshop.png">마이페이지</a></li>
        <li><a href=""><img src="/assets/header/cart.png">장바구니</a></li>
        <li><a href=""><img src="/assets/header/post.png">택배조회</a></li>
      </ul>
    </div>
  </header>
  <nav class="nav">
    <ul>
      <li class="first"></li>
      <li>FAQ</li>
      <li>주문하기</li>
      <li>시안확인</li>
      <li>이미지사이트</li>
      <li>고객게시판</li>
      <li>회사소개</li>
    </ul>
  </nav>
  <app-desktop-category></app-desktop-category>
</div>
