<app-title [title]="'시안확인'"></app-title>
<div class="container">
  <div class="info">
    <div>
      <p>주문자와 입금자가 다를때는 꼭 연락바랍니다.</p>
      <p>입금자 확인이 안되면 모든 진행이 안됩니다.</p>
      <p>다음날 꼭 택배를 받으실 분은 평일 오후 5시~토요일 정오까지 배송조회를 꼭 하십시요.</p>
      <p>주문시 입력하셨던 전화번호 뒷 4자리 시안확인, 출력요청, 결제는 비밀번호를 입력하셔야 확인 가능합니다.</p>
      <p>출력요청하시고 입금하면 바로 출력되며 출력한 제품에 대해서는 오타나 크기, 마감방법 등 모든 수정은 불가능하며 반품/환불은 안됩니다.</p>
    </div>
  </div>
  <div class="list" *ngIf="page">
    <div class="row">
      <div class="checkbox"><input type="checkbox" name="check"></div>
      <div class="number">번호</div>
      <div class="title">제목</div>
      <div class="incharge">담당자</div>
      <div class="phoneNumber">연락처</div>
      <div class="customerName">고객명</div>
      <div class="createTime">등록일</div>
    </div>
    <div class="empty" *ngIf="page.empty">데이터가 없습니다.</div>
    <div class="row" *ngFor="let draft of page.content">
      <div class="checkbox"><input type="checkbox" name="check"></div>
      <div class="number">{{ draft.id }}</div>
      <div class="title"><a (click)="openModal(draft.id)">{{ draft.customerName }}님 시안입니다.</a></div>
      <div class="incharge">{{ employees | randomEmployee }}</div>
      <div class="phoneNumber">{{ draft.phoneNumber }}</div>
      <div class="customerName">{{ draft.customerName }}</div>
      <div class="createTime">{{ draft.createTime | date: "yyyy/MM/dd HH:mm" }}</div>
    </div>
  </div>
  <div class="page-buttons" *ngIf="page">
    <a class="page-button first" *ngIf="!page.first" [routerLink]="DRAFT_LIST" [queryParams]="{ page: 0 }"></a>
    <a class="page-button prev" *ngIf="pageNumber > 0" [routerLink]="DRAFT_LIST" [queryParams]="{ page: pageNumber - 1 }"></a>
    <a class="page-button"
      [class.active]="number == pageNumber"
      [routerLink]="DRAFT_LIST"
      [queryParams]="{ page: number }"
      *ngFor="let number of pageNumbers">
      {{ number + 1 }}
    </a>
    <a class="page-button next" *ngIf="pageNumber < page.totalPages - 1" [routerLink]="DRAFT_LIST" [queryParams]="{ page: pageNumber + 1 }"></a>
    <a class="page-button end" *ngIf="!page.last" [routerLink]="DRAFT_LIST" [queryParams]="{ page: page.totalPages - 1 }"></a>
  </div>
</div>
<app-modal [(property)]="modalProperty"></app-modal>
