div.container {
  margin: 80px auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  > div.info {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background: url("/assets/draft/info.jpg") center center no-repeat;
    background-size: cover;
    font-size: 16px;
    color: #333;
    line-height: 28px;
    border: 1px solid #ccc;
    min-width: 250px;
    max-width: 1200px;

    > div {
      padding: 30px;

      > p::before {
        content: '!';
        display: inline-block;
        width: 16px;
        line-height: 16px;
        border-radius: 10px;
        background: #35515e;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 0 8px 0 0;
      }
    }
  }

  > div.list {
    width: 65%;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 1200px;
  }

  div.empty {
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
  }

  div.row {
    display: flex;

    &:first-child {
      border-top: 2px solid #000;
      border-bottom: 1px solid #d3d3d3;
      letter-spacing: -0.1em;

      > div.title {
        font-weight: normal;
      }
    }

    &:last-child {
      border-bottom: 1px solid #d3d3d3;
    }

    > div {
      padding: 12px 0;
      border-top: 1px solid #f3f3f3;
      line-height: 1.5em;
      word-break: break-all;
      text-align: center;

      &.checkbox {
        width: 5%;
      }
      &.number {
        width: 5%;
      }
      &.title {
        width: 50%;
        font-weight: bold;
        > a:hover {
          text-decoration: underline;
        }
      }
      &.sub-row {
        display: flex;
        width: 40%;

        > div {
          &.inCharge {
            width: 33%;
          }
          &.phoneNumber {
            width: 33%;
          }
          &.customerName {
            width: 34%;
          }
          &.createTime {
            width: 33%;
          }

          @media (max-width: 750px) {
            &.inCharge {
              display: none;
              width: 0;
            }
            &.phoneNumber {
              display: none;
              width: 0;
            }
            &.customerName {
              width: 100%;
            }
            &.createTime {
              display: none;
              width: 0;
            }
          }
        }
      }

      @media (max-width: 750px) {
        &.checkbox {
          width: 15%;
        }
        &.number {
          width: 15%;
        }
        &.title {
          width: 55%;
        }
        &.sub-row {
          width: 15%;
        }
      }
    }
  }

  > div.page-buttons {
    margin-top: 50px;
    text-align: center;
    width: 65%;
    display: flex;
    min-width: 250px;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;

    > a.page-button {
      background: #fdfdfd;
      border: 1px solid #d4d4d4;
      color: #555;
      font-size: 1.083em;
      line-height: 28px;
      width: 30px;
      height: 30px;
      text-decoration: none;
      border-radius: 3px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #f3f3f1;
      }

      &.active {
        background: #4c4f6f;
        color: #fff;
        cursor: default;
      }
    }

    > a {
      &.first {
        background: url("/assets/draft/btn_first.gif") no-repeat 50% 50%;
      }

      &.prev {
        background: url("/assets/draft/btn_prev.gif") no-repeat 50% 50%;
      }

      &.next {
        background: url("/assets/draft/btn_next.gif") no-repeat 50% 50%;
      }

      &.end {
        background: url("/assets/draft/btn_end.gif") no-repeat 50% 50%;
      }
    }
  }

}
