<div class="contents">
  <button class="open" #category_open_button>
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <button class="close" #category_close_button>
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
  <div class="category" #category>
    <ul>
      <li class="group">
        <a href="#">현수막</a>
        <ul class="sub_group">
          <li><a href="#">선거전문현수막</a></li>
          <li><a href="#">게릴라현수막</a></li>
          <li><a href="#">법정게시대</a></li>
          <li><a href="#">족자현수막</a></li>
          <li><a href="#">차량용현수막</a></li>
          <li><a href="#">유포지(썬팅용)</a></li>
          <li><a href="#">소형현수막</a></li>
          <li><a href="#">깃발/어깨띠</a></li>
        </ul>
      </li>
      <li class="group">2</li>
      <li class="group">3</li>
      <li class="group">4</li>
      <li class="group">5</li>
      <li class="group bottom">1</li>
      <li class="group bottom">2</li>
      <li class="group bottom">3</li>
      <li class="group bottom">4</li>
      <li class="group bottom">5</li>
    </ul>
  </div>
</div>
