<div class="contents">
  <button class="open" #category_open_button>
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <button class="close" #category_close_button>
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
  <div class="category" #category>
    <ul>
      <li class="group">
        <a href="#">{{ placard.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of placard.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group">
        <a href="#">{{ banner.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of banner.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group">
        <a href="#">{{ eupoji.name }}</a>
      </li>
      <li class="group">
        <a href="#">{{ leaflet.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of leaflet.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group">
        <a href="#">{{ card.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of card.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group bottom">
        <a href="#">{{ sticker_magnet.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of sticker_magnet.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group bottom">
        <a href="#">{{ catalog.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of catalog.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group bottom">
        <a href="#">{{ envelope.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of envelope.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group bottom">
        <a href="#">{{ form_format_receipt.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of form_format_receipt.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li class="group bottom">
        <a href="#">{{ acryl_pomax_sign.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of acryl_pomax_sign.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
