<div class="contents">
  <button class="open" #category_open_button>
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <button class="close" #category_close_button>
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
  <div class="category" #category>
    <ul>
      <li class="group" *ngFor="let group of groups; let i = index" [ngClass]="i >= 5 ? 'bottom' : ''">
        <a href="#">{{ group.name }}</a>
        <ul class="sub_group">
          <li *ngFor="let item of group.items">
            <a href="#">{{ item.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
