<app-title [title]="'시안확인'"></app-title>
<div class="container">
  <div class="info">
    <div>
      <p>주문자와 입금자가 다를때는 꼭 연락바랍니다.</p>
      <p>입금자 확인이 안되면 모든 진행이 안됩니다.</p>
      <p>다음날 꼭 택배를 받으실 분은 평일 오후 5시~토요일 정오까지 배송조회를 꼭 하십시요.</p>
      <p>주문시 입력하셨던 전화번호 뒷 4자리 시안확인, 출력요청, 결제는 비밀번호를 입력하셔야 확인 가능합니다.</p>
      <p>출력요청하시고 입금하면 바로 출력되며 출력한 제품에 대해서는 오타나 크기, 마감방법 등 모든 수정은 불가능하며 반품/환불은 안됩니다.</p>
    </div>
  </div>
  <div class="detail" *ngIf="draft">
    <p class="title">{{ draft.customerName }} 님 시안입니다.</p>
    <div class="contents">
      <div class="row">
        <span>고&nbsp;&nbsp;객&nbsp;&nbsp;명</span>&nbsp;:&nbsp;
        <span>{{ draft.customerName }}</span>
      </div>
      <div class="row">
        <span>연&nbsp;&nbsp;락&nbsp;&nbsp;처</span>&nbsp;:&nbsp;
        <span>{{ draft.phoneNumber }}</span>
      </div>
      <div class="row">
        <span>상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;태</span>&nbsp;:&nbsp;
        <span>{{ draft.draftStatus.value }}</span>
      </div>
      <div class="row">
        <span>날&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;짜</span>&nbsp;:&nbsp;
        <span>{{ draft.createTime }}</span>
      </div>
      <div class="row">
        <span>주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소</span>&nbsp;:&nbsp;
        <span>{{ draft.address + ' ' + draft.detailAddress }}</span>
      </div>
      <div class="row">
        <span>최종금액</span>&nbsp;:&nbsp;
        <span>
          {{ draft.price | number:'1.0-0' | zeroPricePipe }}<span *ngIf="draft.price > 0">원</span>
        </span>
      </div>
      <div class="row">
        <span>결제방법</span>&nbsp;:&nbsp;
        <span>{{ draft.paymentMethod.value }}</span>
      </div>
      <div class="row">
        <span>카테고리</span>&nbsp;:&nbsp;
        <span>{{ draft.categoryName }}</span>
      </div>
      <div class="row">
        <span>메모</span><br>
        <textarea id="memo" name="memo" rows="10" disabled>{{ draft.memo }}</textarea>
      </div>
      <div class="files" *ngIf="orderFolder && orderFolder.files.length > 0">
        <h2>고객 첨부파일</h2>
        <ul>
          <li *ngFor="let file of orderFolder.files">
            <fa-icon [icon]="['fas', 'download']"></fa-icon>
            <a [href]="'api/file/' + file.id" [download]="file.name"><strong>{{ file.name }}</strong></a>
            ({{ file.size | fileSize }})
          </li>
        </ul>
      </div>
    </div>
    <div class="images" *ngIf="workFolder">
      <img [src]="'api/file/' + file.id" alt="이미지가 없습니다." *ngFor="let file of workFolder.files" (click)="openAtBlank('api/file/' + file.id)">
    </div>
  </div>
  <div class="buttons">
    <div class="admin" *ngIf="isAdmin">
      <button type="button" (click)="update()"><fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>&nbsp;수정</button>
      <button type="button" (click)="delete()"><fa-icon [icon]="['fas', 'trash-can']"></fa-icon>&nbsp;삭제</button>
      <button class="copy" type="button" (click)="copy()"><fa-icon [icon]="['far', 'copy']"></fa-icon>&nbsp;복사</button>
    </div>
    <div class="public">
      <button type="button" *ngIf="isPayable()" (click)="pay()"><fa-icon [icon]="['far', 'credit-card']"></fa-icon>&nbsp;카드결제</button>
      <button type="button" *ngIf="isPaid()" (click)="openModal()"><fa-icon [icon]="['fas', 'receipt']"></fa-icon>&nbsp;영수증</button>
    </div>
  </div>
  <div class="comments">
    <h3>댓글</h3>
    <div *ngIf="draftCommentCount() === 0" class="empty">등록된 댓글이 없습니다.</div>
    <div class="comment" *ngFor="let draftComment of this.draft?.draftComments">
      <div class="content">{{ draftComment.content }}</div>
      <div class="files" *ngIf="draftComment.folder && draftComment.folder.files.length > 0">
        <ul>
          <li *ngFor="let file of draftComment.folder.files">
            <fa-icon [icon]="['fas', 'download']"></fa-icon>
            <a [href]="'api/file/' + file.id" [download]="file.name"><strong>{{ file.name }}</strong></a>
            ({{ file.size | fileSize }})
          </li>
        </ul>
      </div>
      <div class="createTime">
        <div>{{ draftComment.createTime }}</div>
        <button *ngIf="isAdmin" type="button" (click)="deleteDraftComment(draftComment.id)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
      </div>
    </div>
    <form *ngIf="draftCommentCount() < 5" class="commentBox" #commentCreateForm="ngForm" (ngSubmit)="addDraftComment(commentCreateForm)">
      <div class="buttons">
        <h3>댓글 작성</h3>
        <button type="submit" [disabled]="commentCreateForm.invalid"><fa-icon [icon]="['fas', 'pencil']"></fa-icon>&nbsp;등록</button>
      </div>
      <textarea name="commentContent" rows="5" wrap="hard" placeholder="댓글 내용을 입력하세요." ngModel required #commentContent="ngModel"></textarea>
      <app-files [maxSize]="3" [files]="[]" #filesComponent></app-files>
    </form>
  </div>
  <div class="notice">
    <img src="/assets/draft/notice.jpg" alt="이미지가 없습니다.">
  </div>
</div>
<form name="pc_order_form" method="post" action="api/nhn/payment" #pc_order_form *ngIf="orderRequest">
  <!-- 주문정보 세팅 -->
  <input type="hidden" name="ordr_idxx" [value]="orderRequest.ordr_idxx">
  <input type="hidden" name="good_name" [value]="orderRequest.good_name">
  <input type="hidden" name="good_mny" [value]="orderRequest.good_mny">
  <input type="hidden" name="buyr_name" [value]="orderRequest.buyr_name">
  <input type="hidden" name="buyr_mail" [value]="orderRequest.buyr_mail">
  <!-- 신용카드 -->
  <input type="hidden" name="pay_method" [value]="orderRequest.pay_method">
  <!-- 가맹점 정보 설정-->
  <input type="hidden" name="site_cd" [value]="orderRequest.site_cd">
  <input type="hidden" name="site_name" [value]="orderRequest.site_name">
  <!-- 인증데이터 처리-->
  <input type="hidden" name="res_cd" value=""/>
  <input type="hidden" name="res_msg" value=""/>
  <input type="hidden" name="enc_info" value=""/>
  <input type="hidden" name="enc_data" value=""/>
  <input type="hidden" name="ret_pay_method" value=""/>
  <input type="hidden" name="tran_cd" value=""/>
  <input type="hidden" name="use_pay_method" value=""/>
  <input type="hidden" name="ordr_chk" value=""/>
</form>
<form name="mobile_order_form" method="post" #mobile_order_form *ngIf="orderRequest && tradeRegisterRequest">
  <input type="hidden" name="ordr_idxx" [value]="tradeRegisterRequest.ordr_idxx">
  <input type="hidden" name="good_name" [value]="tradeRegisterRequest.good_name">
  <input type="hidden" name="good_mny" [value]="tradeRegisterRequest.good_mny">
  <input type="hidden" name="buyr_name" [value]="orderRequest.buyr_name">
  <input type="hidden" name="buyr_mail" [value]="orderRequest.buyr_mail">
  <!-- 공통정보 -->
  <input type="hidden" name="req_tx" value="pay">
  <input type="hidden" name="shop_name" [value]="orderRequest.site_name">
  <input type="hidden" name="site_cd" [value]="tradeRegisterRequest.site_cd">
  <input type="hidden" name="currency" value="410"/>
  <!-- 인증시 필요한 파라미터(변경불가)-->
  <input type="hidden" name="escw_used" [value]="tradeRegisterRequest.escw_used">
  <input type="hidden" name="pay_method" [value]="tradeRegisterRequest.pay_method">
  <input type="hidden" name="ActionResult" value="card">
  <!-- 리턴 URL (kcp와 통신후 결제를 요청할 수 있는 암호화 데이터를 전송 받을 가맹점의 주문페이지 URL) -->
  <input type="hidden" name="Ret_URL" [value]="tradeRegisterRequest.Ret_URL">
  <!-- 추가 파라미터 ( 가맹점에서 별도의 값전달시 param_opt 를 사용하여 값 전달 ) -->
  <input type="hidden" name="param_opt_1" [value]="mobile_opt_param1">
  <input type="hidden" name="param_opt_2" value="">
  <input type="hidden" name="param_opt_3" value="">
  <!-- 거래등록 응답값 -->
  <input type="hidden" name="approval_key" id="approval" value="">
  <input type="hidden" name="traceNo" value="">
  <input type="hidden" name="PayUrl" value="">
  <!-- 인증창 호출 시 한글깨질 경우 encoding 처리 추가 (**인코딩 네임은 대문자) -->
  <input type="hidden" name="encoding_trans" value="UTF-8" />
</form>
<app-modal [(property)]="modalProperty">
  <h3 class="title">영수증</h3>
  <div class="contents" *ngIf="paymentHistory">
    <div class="row">
      <div class="key"><div>고객명</div></div>
      <div class="value"><div>{{ draft?.customerName }}</div></div>
    </div>
    <div class="row" *ngFor="let entry of modalObject | keyvalue">
      <div class="key"><div>{{ entry.key }}</div></div>
      <div class="value"><div>{{ paymentHistory.detail[entry.value] }}</div></div>
    </div>
    <div class="row">
      <div class="key"><div>거래날짜</div></div>
      <div class="value"><div>{{ paymentHistory.createTime }}</div></div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" (click)="print()">인쇄</button>
    <button type="button" (click)="closeModal()">닫기</button>
  </div>
</app-modal>
