<app-title [title]="'시안확인'"></app-title>
<div class="container">
  <div class="info">
    <div>
      <p>주문자와 입금자가 다를때는 꼭 연락바랍니다.</p>
      <p>입금자 확인이 안되면 모든 진행이 안됩니다.</p>
      <p>다음날 꼭 택배를 받으실 분은 평일 오후 5시~토요일 정오까지 배송조회를 꼭 하십시요.</p>
      <p>주문시 입력하셨던 전화번호 뒷 4자리 시안확인, 출력요청, 결제는 비밀번호를 입력하셔야 확인 가능합니다.</p>
      <p>출력요청하시고 입금하면 바로 출력되며 출력한 제품에 대해서는 오타나 크기, 마감방법 등 모든 수정은 불가능하며 반품/환불은 안됩니다.</p>
    </div>
  </div>
  <div class="detail" *ngIf="draft">
    <p class="title">{{ draft.customerName }} 님 시안입니다.</p>
    <div class="contents">
      <div class="row">
        <span>고&nbsp;&nbsp;객&nbsp;&nbsp;명</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.customerName }}</span>
      </div>
      <div class="row">
        <span>연&nbsp;&nbsp;락&nbsp;&nbsp;처</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.phoneNumber }}</span>
      </div>
      <div class="row">
        <span>날&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;짜</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.createTime }}</span>
      </div>
      <div class="row">
        <span>주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.address + ' ' + draft.detailAddress }}</span>
      </div>
      <div class="row">
        <span>최종금액</span>&nbsp;:&nbsp;
        <span class="value">
          {{ draft.price | number:'1.0-0' | zeroPricePipe }}<span *ngIf="draft.price > 0">원</span>
        </span>
      </div>
      <div class="row">
        <span>결제방법</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.paymentMethod.value }}</span>
      </div>
      <div class="row">
        <span>카테고리</span>&nbsp;:&nbsp;
        <span class="value">{{ draft.categoryName }}</span>
      </div>
      <app-update [draft]="draft" #updateComponent></app-update>
      <div class="files" *ngIf="orderFolder && orderFolder.files.length > 0">
        <h2>고객 첨부파일</h2>
        <ul>
          <li *ngFor="let file of orderFolder.files">
            <fa-icon [icon]="['fas', 'download']"></fa-icon>
            <a [href]="'api/file/' + file.id" [download]="file.name"><strong>{{ file.name }}</strong></a>
            ({{ file.size | fileSize }})
          </li>
        </ul>
      </div>
    </div>
    <div class="images" *ngIf="workFolder">
      <div *ngFor="let file of workFolder.files">
        <img [src]="'api/file/' + file.id" alt="이미지가 없습니다." (click)="openAtBlank('api/file/' + file.id)">
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="admin" *ngIf="isAdmin">
      <button type="button" (click)="update()"><fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>&nbsp;수정</button>
      <button type="button" (click)="delete()"><fa-icon [icon]="['fas', 'trash-can']"></fa-icon>&nbsp;삭제</button>
      <button class="copy" type="button" (click)="copy()"><fa-icon [icon]="['far', 'copy']"></fa-icon>&nbsp;복사</button>
    </div>
    <div class="public">
      <button type="button" class="print" *ngIf="draft?.draftStatus?.value === '시안확인요청'" (click)="requestPrint()"><fa-icon [icon]="['fas', 'print']"></fa-icon>&nbsp;인쇄요청</button>
      <app-payment [draft]="draft"></app-payment>
    </div>
  </div>
  <app-comment id="app-comment" [draft]="draft" #commentComponent></app-comment>
  <div class="notice">
    <img src="/assets/draft/notice.jpg" alt="이미지가 없습니다.">
  </div>
</div>
