div.container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 75%;

  div.location {
    display: flex;
    justify-content: flex-end;

    > a {
      padding: 10px 5px;
      letter-spacing: 0 !important;
      background: url("/assets/category/toright.gif") right 50% no-repeat;
      padding-right: 15px;

      &:last-child {
        padding-left: 10px;
        padding-right: 0px;
        font-weight: bold;
        background: none;
      }
    }
  }

  div.sort_buttons {
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #dfdfdf;
    margin: 20px 0;
  }

  div.noImages {
    text-align: center;
  }

  div.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    > div.file {
      max-width: 80%;
      margin: 10px;

      > img {
        border: 1px solid #e5e5e5;
        max-width: 100%;
        cursor: pointer;
      }

      > div.file_name {
        text-align: center;
        font-size: 14px;
        color: #222;
        font-weight: 500;
        padding: 5px 0;
      }

    }
  }
}
