$min-width: 350px;

footer {
  display: flex;
  flex-direction: column;

  > div.time {
    min-width: 250px;
    background: #49c8c3;
    color: #fff;
    padding: 20px;
    display: flex;

    > div {
      flex-grow: 1;

      &.left {
        border-right: 1px solid #26afaa;
        padding: 0 15px 0 0;

        > h1 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        > p {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
        }
      }

      &.right {
        padding: 0 0 0 15px;

        > div {
          font-size: 14px;
        }

        > a {
          display: block;
          line-height: 25px;
          background: #333;
          color: #fff;
          text-align: center;
          font-size: 14px;
          margin-top: 5px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: #fff;
            color: #333;
          }
        }
      }
    }

  }

  @media (max-width: 400px) {
    > div.time {
      flex-direction: column;

      > div.left {
        border-right: none;
        border-bottom: 1px solid #26afaa;
        padding: 0 0 15px 0;
      }

      > div.right {
        padding: 15px 0 0 0;
      }
    }
  }

  > div.image {
    min-width: #{$min-width};
    display: flex;

    > img {
      flex-grow: 1;
    }
  }

  @media (max-width: 570px) {
    > div.image {
      flex-direction: column;
    }
  }

  > div.notice {
    min-width: #{$min-width};
    height: 120px;
    padding: 10px;
    background: #003a81;
    text-align: center;
    color: #fff;

    > h3 {
      font-size: 18px;
      font-weight: 500;

      > span {
        color: #a9ff4d;
      }
    }

    > p {
      font-size: 13px;
      line-height: 22px;
      margin: 5px 0 5px 0;
    }

    > a {
      display: inline-block;
      width: 180px;
      line-height: 25px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 14px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #fff;
        color: #333;
      }
    }
  }

  > div.bank {
    min-width: #{$min-width};
    margin: 10px;
    border-bottom: 1px solid #e5e5e5;

    > h2 {
      font-size: 15px;
      font-weight: 500;
      color: #333;
      margin-bottom: 10px;
    }

    > span {
      display: block;
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
      color: #333;

      > img {
        margin-right: 10px;
      }
    }

    > p {
      font-size: 13px;
      color: #555;
      margin: 10px 0;
    }
  }

  > div.cs {
    min-width: #{$min-width};
    margin: 0 10px 10px 10px;

    > h2 {
      font-size: 15px;
      font-weight: 500;
      color: #333;
      margin-bottom: 5px;
    }

    > p {
      font-size: 13px;
      line-height: 24px;
      color: #666;
    }

    > span {
      color: #f24c18;
      font-size: 12px;
    }
  }

  > div.info {
    min-width: #{$min-width};
    background: #efefef;
    padding: 10px;
    display: flex;
    flex-direction: column;

    > ul {
      display: flex;
      line-height: 30px;

      > li {
        margin-right: 10px;

        > a {
          color: #727272;
        }
      }
    }

    > span {
      color: #888888;
      line-height: 20px;
    }
  }
}
