<nav class="nav">
  <ul>
    <li><div><a [routerLink]="routeName.DRAFT_CREATE">빠른견적</a></div></li>
    <li><div><a href="tel:031-273-7714">전화문의</a></div></li>
    <li><div><a [routerLink]="routeName.DRAFT_LIST" [queryParams]="{ page: 0 }">시안확인</a></div></li>
  </ul>
</nav>
<header class="header">
  <app-category></app-category>
  <div class="logo">
    <a [routerLink]="routeName.HOME">
      <img src="/assets/header/logo.png" [width]="70" [height]="60">
    </a>
  </div>
  <app-account></app-account>
</header>
